# Default ignored files
/shelf/
/workspace.xml


# Maven
#############
/target/

# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

# Package Files
######################
*.jar
*.war
*.ear
*.db
